<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="styles(pageApp)">
  <link id="shell-core-style" rel="stylesheet" th:href="@{'/assets/css/shell-core/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'auth'}" data-app-css="auth" th:href="@{'/assets/css/apps/auth/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'bangumis'}" data-app-css="bangumis" th:href="@{'/assets/css/apps/bangumis/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'docsme'}" data-app-css="docsme" th:href="@{'/assets/css/apps/docsme/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'douban'}" data-app-css="douban" th:href="@{'/assets/css/apps/douban/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'equipments'}" data-app-css="equipments" th:href="@{'/assets/css/apps/equipments/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'explorer-archives'}" data-app-css="explorer-archives" th:href="@{'/assets/css/apps/archives/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'explorer-author'}" data-app-css="explorer-author" th:href="@{'/assets/css/apps/author/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'explorer-categories'}" data-app-css="explorer-categories" th:href="@{'/assets/css/apps/categories/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'explorer-tags'}" data-app-css="explorer-tags" th:href="@{'/assets/css/apps/tags/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'links'}" data-app-css="links" th:href="@{'/assets/css/apps/links/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'moments'}" data-app-css="moments" th:href="@{'/assets/css/apps/moments/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'photos'}" data-app-css="photos" th:href="@{'/assets/css/apps/photos/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'reader'}" data-app-css="reader" th:href="@{'/assets/css/apps/reader/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
  <link rel="stylesheet" th:if="${pageApp == 'steam'}" data-app-css="steam" th:href="@{'/assets/css/apps/steam/index.css?v=0.9.46&amp;r=f4cc217c2418'}" />
</th:block>
