<th:block th:fragment="trafficLights (maximizable)">
    <div class="traffic-lights flex items-center gap-2">
        <button @click="closeWindow()" class="traffic-btn close" title="关闭">
            <span class="icon-[lucide--x]" aria-hidden="true"></span>
        </button>
        <button @click="$store.windowManager.minimize()" class="traffic-btn minimize" title="最小化">
            <span class="icon-[lucide--minus]" aria-hidden="true"></span>
        </button>
        <button th:if="${maximizable == true or maximizable == 'true'}" @click="toggleMaximize()" class="traffic-btn maximize" title="最大化">
            <span class="icon-[lucide--maximize-2]" aria-hidden="true"></span>
        </button>
    </div>
</th:block>
