<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{modules/shell/layout :: html(
        title = ${(title ?: '朋友圈') + ' - ' + site.title},
        description = ${site.seo?.description ?: site.subtitle},
        ssrContent = ~{modules/friends-app/list :: content},
        canonical = '/friends',
        image = ${site.logo},
        type = 'website',
        seoFallback = 'full',
        pageMode = 'browser-friends',
        pageApp = 'friends',
        windowVariant = 'friends',
        windowTitle = ${title ?: '朋友圈'},
        windowScene = 'feed',
        windowResizable = 'y',
        windowMaximizable = false,
        windowMetricsKey = 'friends'
      )}">
</html>
